@{
    ViewData["Title"] = "About Us";
    //Layout = "~/Shared/_Layout.cshtml";
}

    @* Body *@
    <section>
        <center>
            <div class="mt-2 bg-warning text-white rounded-3">
                <h1>Welcome To About Us Page</h1>
                <p>lorimipsum.............................</p>
            </div>
        </center>
    </section>
    @* Body *@