
@{
    ViewData["Title"] = "Home";
    //Layout = "~/Shared/_Layout.cshtml";
}
    
    @* Body *@
        <section>
            <center>
               <div class="mt-2 bg-primary text-white rounded-3">
                   <h1>Welcome To Home Page</h1>
                   <p>lorimipsum.............................</p>
               </div> 
            </center>
        </section>
    @* Body *@