
@{
    ViewData["Title"] = "Privacy";
    //Layout = "~/Shared/_Layout.cshtml";
}

@* Body *@
<section>
    <center>
        <div class="mt-2 bg-success text-white rounded-3">
            <h1>Welcome To Privacy Page</h1>
            <p>lorimipsum.............................</p>
        </div>
    </center>
</section>
@* Body *@

